:root {
    --primary-color: #6ea76e;
    --secondary-color: #265e26ce;
    --text-color: #a3a3a3;
    --text-secondary-color: #001100;
    --background-color: #013612;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F8FBF8;
    transition: background-color 0.5s ease;
    transition: all 0.5s ease;
    font-size: clamp(14px, 1vw + 0.5rem, 20px);
}
body.ativo {
    margin-left: 300px;
    background-color: transparent;
    transition: all 0.5s ease;
}

.menu-lateral {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-lateral.ativo {
    left: 0;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}

.menu-lateral ul li {
    padding: 15px 30px;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li:hover {
    background-color: var(--secondary-color);
    font-style: italic;

}

.toggle {
    background-color: var(--primary-color);
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 6;
    border-radius: 50px;
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #ecf1ee;
    transition: all 0.5s ease-in-out;
}

.toggle:hover {
    background-color: var(--secondary-color);
}

.toggle.ativo {
    left: 320px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.background.ativo {
    opacity: 1;
    visibility: visible;
}

.topo {
    padding: 30vw 50vw 4vw 5vw;
    background-size: cover;
    background-position: top;
    width: auto;
    font-family: "Hammersmith One", sans-serif;
    text-align: center;
    opacity: 90%;
    background:
        linear-gradient(to bottom, rgba(252, 252, 252, 1), transparent 70%),
        url('../imagem/image\ 11.png') top;
}

.topo h1 {
    font-size: 5rem;
    color: #ecf1ee;
    text-align: center;
}
section.meio p {
    text-align: center;
    margin: 2vw  10vw 2vw 10vw;
    font-size: 1.5rem;
    
}
section.meio h2 {
    color: #013612;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 3vw 8vw;
   
}
.nado div ul.img {
   text-align: left;
   padding-left: 10vw;
   margin: 13vw 5vw 10vw 1vw;
    position: absolute;
  font-weight: bold;
   
   
}
.nado div ul {
    text-align: left;
    padding-right: 10vw;
    margin: 4vw 0vw;
   
     
}
.nado div ul.lista h3 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #02210C;
} 
.nado div ul.lista p {
    color: #494949;
    font-size: 1.4rem;
    padding: 3vw 5px 3vw 26vw  ;
}

.nado div {
    background: #D3E6D3;
    margin: 4vw 15vw;
    border-radius: 15px;
    padding: 2vw 2vw 2vw 2vw ;
}
.nado div ul.img li h3 {
    color: #02210C;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px 10px;
}
.nado div ul.img li img {
    width: 90%;
} 
.nado div ul.lista  h3 {
         text-align: center;
         font-size: 2.3rem;
         padding-left: 10vw;
         }

.alimentacao div ul {
    background:#D3E6D3 ;
    
    
}    
.alimentacao h2 {
    color: #02210C;
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
    padding: 5vw 2vw  ;
    
}
.alimentacao div ul h3 {
    color: #02210C;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
   
    
}
.alimentacao div ul li p {
    text-align: center;
    padding: 2vw 3vw;
    color: #5c5c5c;
    font-size: 1.3rem;
    font-weight: 500;
}
.alimentacao div ul {
    margin: 8vw 5vw 5vw 5vw;
    border-radius: 20px;
    
    
}
.alimentacao {
    display: flex;
}
.macro h2 {
    text-align: center;
    color: #02210C;
    font-size: 2.3rem;
    font-weight: 600;
    margin: 5vw 5vw 3vw;
}
.macro p {
    text-align: center;
    color: #494949;
    font-size: 1.5rem;
    margin: 0 8vw 4vw;
}
.micro h2 {
    text-align: center;
    color: #02210C;
    font-size: 2.3rem;
    font-weight: 600;
    margin: 5vw 5vw 3vw;

}
.micro p {
    text-align: center;
    color: #494949;
    font-size: 1.5rem;
    margin: 0 8vw 4vw;
}
.micro div {
    padding: 4vw 14vw;
    text-align: center;
} 
.recomendacao p {
    font-size: 1.4rem;
    font-weight: bold;
    color: #2c2c2c;
    padding: 10px;
    text-align: center;
    margin: 2vw 16vw 8vw;
}
.recomendacao h2 {
    text-align: center;
    color: #02210C;
    font-size: 2.3rem;
    font-weight: 600;
    margin: 5vw 24vw 3vw;
}
.recomendacao p a {
    text-align: center;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid black;
    font-weight: lighter;
    border-radius: 8px;
    font-size: 1.4rem;
}
.recomendacao p a:hover {
    cursor: pointer;
    color: white;
    background-color: #aad1aa;
    transition: background-color 0.5s ease;
    border: none;
    padding: 10px 15px;
}
.imc {
    text-align: center;
}
.imc p {
    font-size: 1.4rem;
    color: #2c2c2c;
    padding: 10px;
    margin: 2vw 16vw 3vw;
}
.imc h2 {
    color: #02210C;
    font-size: 2.3rem;
    font-weight: 600;
    margin: 5vw 0 3vw;
}
.imc p#btn-imc{
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid black;
    font-weight: 400;
    border-radius: 8px;
    font-size: 1.5rem;
    display: inline-block;
}
.imc p#btn-imc:hover {
    cursor: pointer;
    color: white;
    background-color: #aad1aa;
    transition: background-color 0.5s ease-in-out;
    border: none;
    padding: 10px 15px;
}



.sobre {
    margin: 4vw 8vw;
}
.sobre h2 {
    font-size: 2rem;
    color: #02210C;
    text-align: center;
    margin: 2vw 20vw;
}
.sobre ul.fundo {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.sobre ul.fundo li {
  background-color: #C1D9C3;
  border-radius: 12px;
  padding: 2vw;
  max-width: 350px;
  box-shadow: 1.5vw 1.5vw 0 #8EAB8E;
}
.sobre ul.fundo li video {
  width: 100%;
  height: 100%;  
  border-radius: 8px;
  display: block;
}
footer {
    background-color: #D3E6D3;
    padding: 4vw;
}
footer div.conteiner {
    display: flex;
    justify-content: space-between;
}
footer div.conteiner div.redes h4 {
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 20px;
}
footer div.conteiner div.redes p {
    color: #4e4e4e;
    font-size: 1rem;
}
footer div.conteiner div.redes nav p {
    color: #000;
    font-size: 1.8rem;
    padding: 20px 10px;
}
footer div.conteiner div.redes nav p a {
    padding-right: 15px;
}

footer div.conteiner div.esporte nav ul li h4 {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 15px;
}
footer div.conteiner div.esporte nav ul li{
    color: #4e4e4e;
    font-size: 1rem;
    line-height: 25px;
}
footer div.contato {
    text-align: center;
}
footer div.contato {
    color: #6d6d6d;
    font-size: 0.8rem;
    line-height: 22px;
}
@media (max-width: 1024px) {
    body.ativo {
        margin-left: 260px;
    }
    .menu-lateral ul li a {
        font-size: 1.2rem;
    }
    .menu-lateral {
    left: -260px;
    width: 260px;
    height: 100%;
}
.menu-lateral ul {
    margin-top: 30px;
}
.toggle.ativo {
    left: 280px;
}
.topo h1 {
    font-size: 3rem;
}
section.meio p {
    margin: 5vw;
    font-size: 1.3rem;
    
}
section.meio h2 {
    font-size: 1.6rem;
    margin: 5vw;
}
.nado div ul.img {
    display: none;
}
.nado div ul {
    text-align: left;
} 
.nado div ul.lista p {
    padding: 3vw 5px 3vw 15px;  
}
.nado div ul.lista h3 {
    text-align: center;
    font-size: 1.8rem;
}
.alimentacao {
    display: block;
}
.nado div {
    margin: 8vw 5vw 5vw 5vw;
}
.recomendacao h2 {
    margin: 5vw;
    font-size: 1.4rem;
}
.recomendacao p a {
    font-size: 1.1rem;
}
.imc p {
    margin: 5vw;
    font-size: 1.2rem;
}
.imc h2 {
    font-size: 1.4rem;
    margin: 5vw;
}
.imc p#btn-imc {
    font-size: 1.2rem;
}

.sobre {
    margin: 5vw;
}
.sobre h2 {
    font-size: 1.4rem;
    margin: 5vw;
    font-weight: 600;
}

footer div.conteiner div.redes h4 {
    font-size: 1.2rem;
    padding-bottom: 15px;
}
footer div.conteiner div.redes p {
    font-size: 0.9rem;
    padding-right: 30px;
}
footer div.conteiner div.redes nav p {
    font-size: 1.4rem;
    padding: 9px 5px;
}
footer div.conteiner div.redes nav p a {
    padding-right: 15px;
}

footer div.conteiner div.esporte nav ul li h4 {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 15px;
}
footer div.conteiner div.esporte nav ul li{
    color: #4e4e4e;
    font-size: 1rem;
    line-height: 25px;
}
footer div.contato {
    text-align: center;
}
footer div.contato {
    color: #6d6d6d;
    font-size: 0.8rem;
    line-height: 22px;
}
}