:root {
    --primary-color: #6ea76e;
    --secondary-color: #265e26ce;
    --text-color: #a3a3a3;
    --text-secondary-color: #001100;
    --background-color: #013612;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F8FBF8;
    transition: background-color 0.5s ease;
    transition: all 0.5s ease;
}
body.ativo {
    margin-left: 300px;
    background-color: transparent;
    transition: all 0.5s ease;
}

.menu-lateral {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-lateral.ativo {
    left: 0;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}

.menu-lateral ul li {
    padding: 15px 30px;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li:hover {
    background-color: var(--secondary-color);
    font-style: italic;
}

.toggle {
    background-color: var(--primary-color);
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 6;
    border-radius: 50px;
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #ecf1ee;
    transition: all 0.5s ease-in-out;
}

.toggle:hover {
    background-color: var(--secondary-color);
}

.toggle.ativo {
    left: 320px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.background.ativo {
    opacity: 1;
    visibility: visible;
}

.topo {
    padding: 30vw 50vw 4vw 5vw;
    background-size: cover;
    background-position: top;
    width: auto;
    font-family: "Hammersmith One", sans-serif;
    text-align: center;
    opacity: 90%;
    background:
        linear-gradient(to bottom, rgba(252, 252, 252, 1), transparent 20%),
        url('../imagem/image8.png') top;
}

.topo h1 {
    font-size: 5rem;
    color: #ecf1ee;
    text-align: center;
}

.praticar {
    margin: 4vw 8vw;
}

.praticar h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #02210C;
    text-align: center;
    margin-bottom: 2vw;
}

.praticar p.sub {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 0 12vw;
}

.card {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 5vw 4vw;
    align-items: center;
}

.cards {
    flex: 1;
    background-color: #D3E6D3;
    border-radius: 30px;
    padding: 1vw;
    text-align: center;
    margin: 3vw 10vw;
}

.icon {
    width: 80px;
    height: 80px;
    background-color: #ABD0B5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw auto 15px;
}

.icon img {
    width: 40px;
}

.praticar h3 {
    font-size: 1.4rem;
    color: #02210C;
    font-weight: bold;
}

.praticar div.card p {
    font-size: 1rem;
    padding: 20px;
    line-height: 1.5vw;
}
.fundamentos {
    margin: 3vw 14vw;
    text-align: center;
}
.fundamentos h2 {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 3vw 0;
    text-align: center;
}
.fundamentos ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}
.fundamentos ul li {
    border: 14px solid #D3E6D3;
    padding: 20px;
    margin: 2vw;
    border-radius: 12px;
}

.fundamentos ul li h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #02210C;
    padding: 16px 16px 10px;
}
.fundamentos ul li p {
    padding: 0 16px 16px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
}
.dicas {
    margin: 4vw;
}
.dicas ul li {
    background-color: #d9d9d925;
    display: flex;
    align-items: center;
    padding: 1vw;
    margin: 2vw;
    border-radius: 12px;
}
.dicas ul li img {
    width: 40px;
    border-left: 6px solid #D3E6D3;
    border-radius: 8px;
    padding: 1vw 5px;

}
.dicas ul li p {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.62);
}

.dicas h2 {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 3vw 0;
    text-align: center;
}
.exercicio {
    margin: 4vw;
    text-align: center;
}
.exercicio ul li {
    border-left: 6px solid #D3E6D3;
    border-radius: 8px;
    padding: 1vw 5px;
    margin: 4vw;
}
.exercicio ul li h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #02210C;
    text-align: left;
    padding: 10px 1vw;
}
.exercicio ul li p {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 5px 1vw;
}
.alimentacao h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #02210C;
    background: #C1D9C3;
    margin: 3vw 30vw 1vw ;
    border-radius: 10px;
    padding: 5px 5px;
}
.alimentacao ul {
    text-align: center;
    margin: 3vw 26vw;
    padding: 3vw;
    border-radius: 15px;
    background-color: #D3E6D3;
    
}
.alimentacao ul li h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #02210C;
    text-align: left;
    padding: 15px 20px;
}
.alimentacao ul li p {
    font-size: 1.1rem;
    text-align: left;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.78);
}
.sobre {
    margin: 4vw 8vw;
}
.sobre h2 {
    font-size: 2rem;
    color: #02210C;
    text-align: center;
    margin: 2vw 20vw;
}
.sobre ul.fundo {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.sobre ul.fundo li {
  background-color: #C1D9C3;
  border-radius: 12px;
  padding: 2vw;
  max-width: 350px;
  box-shadow: 1.5vw 1.5vw 0 #8EAB8E;
}

.sobre ul.fundo li video {
  width: 100%;
  height: 100%;  
  border-radius: 8px;
  display: block;
}
section.img div  {
    text-align: right;
}
section.img div img {
    width: 20%;
    padding: 0;
    margin: 0;
}
footer {
    background-color: #D3E6D3;
    padding: 4vw;
}
footer div.conteiner {
    display: flex;
    justify-content: space-between;
}
footer div.conteiner div.redes h4 {
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 20px;
}
footer div.conteiner div.redes p {
    color: #4e4e4e;
    font-size: 1rem;
}
footer div.conteiner div.redes nav p {
    color: #000;
    font-size: 1.8rem;
    padding: 20px 10px;
}
footer div.conteiner div.redes nav p a {
    padding-right: 15px;
}

footer div.conteiner div.esporte nav ul li h4 {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 15px;
}
footer div.conteiner div.esporte nav ul li a {
    color: #4e4e4e;
    font-size: 1rem;
}
footer div.contato {
    text-align: center;
}
footer div.contato {
    color: #6d6d6d;
    font-size: 0.8rem;
    line-height: 22px;
}

@media (max-width: 600px) {
    .topo {
    background-size: cover;
    }
    .topo h1 {
        font-size: 40px;
      }
    
      .praticar h2 {
        font-size: 25px;
      }
    
      .praticar p.sub {
        text-align: justify;
        font-size: 17px;
        flex-direction: column;
        align-items: center;
        text-indent: 20px;
        margin: 4vw 0;
      }
    .fundamentos {
        margin: 3vw 1vw;
    }
    .fundamentos ul {
        display: block;
        padding: 0;
        margin: 0;
    }
    .fundamentos ul li {
        border: 7px solid #D3E6D3;
        padding: 15px;
        margin: 1rem 3rem;
        border-radius: 12px;
    }

    .fundamentos ul li h3 {
        font-size: 1.1rem;
        padding: 5px 5px 5px;
    }
    
    .fundamentos ul li p {
        padding: 0 5px 5px;
        font-size: 0.9rem;
    }
    .cards {
        margin: 3vw 2vw;   
        padding: 4vw;      
        border-radius: 20px;
      }
    
      .card {
        margin: 0;         
        padding: 0;
      }
      .icon {
        margin: 2vw auto 3vw;
      }
    
      .praticar p.sub {
        margin: 2vw 4vw;  
      }
    
      .praticar div.card p {
        line-height: 1.1;
        text-align: justify;
      }
      
      .fundamentos h2 {
        font-size: 1.5rem;
      }
      .dicas h2 {
        font-size: 1.5rem;
      }
      .dicas {
        margin: 4vw 9vw 4vw 9vw;
      }
      .dicas ul li p {
        font-size: 0.9rem;
      }
      .exercicio ul li p {
        font-size: 1rem ;
        font-weight: bold;
      }
      section.alimentacao h2 {
        font-size: 1.4rem;
        margin: 6vw 20vw 2vw 20vw;
        }
    section.alimentacao ul {
        text-align: center;
        margin: 4vw 10vw;
        padding: 2vw 4vw;
    }
    section.alimentacao ul li p {
        font-size: 1rem;
        }
        section.sobre h2 {
        font-size: 1.2rem;
        margin: 6vw 8vw;
        }
    section.alimentacao ul li h3 {
        font-size: 1.2rem;
    }
}