* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.background-imc {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

.background-imc.ativo {
  display: block;
}
#contem {
    padding: 3.5rem;
    display: none;
    position: fixed;
    cursor: pointer;
    transition: all 0.3s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#contem.ativo {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}
#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
}
#form {
    display: flex;
    flex-direction: column;
}
#title {
    font-size: 2.25rem;
    position: relative;
    margin-bottom: 25px;
}

.input-box label {
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
}
.input-box {
    text-align: left;
    margin: 10px 0;
}
.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-bottom: 1.8rem;
}
.input-field span {
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}
.input-field i {
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem 1.8rem  0.6rem 1rem;
}
.input-field input {
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 0.5rem;
}
.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
    border: none;
    outline: none;
}
.input-field input :focus {
    outline: none;
}
#calculate {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #16a34a;
    color: #f8fafc;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
}
#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}
#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;

}
#bmi span:last-child {
    font-size: 0.875rem;
    color: #cbd5e1;
}

#description {
    width: 15.5rem;
    align-items: center;
    text-align: left;
}
#more-info {
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}
#more-info a {
    color: #16a34a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.5s ease;
}
#more-info a:hover {
    color: #cbd5e1;
}
.hidden {
    display: none;
}

@media screen and (max-width: 500px){
    #container {
        width: 100%;
        height: 100%;
    }
    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
        
    }
}