.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    transition: 0.3s;
}


.background.ativo {
    opacity: 1;
    visibility: visible;
}


.topo {
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-family: "Hammersmith One", sans-serif;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(to bottom, rgba(252, 252, 252, 0.8), transparent), url("../imagem/bannernatacao.png");
}

.topo h1 {
    font-size: 3.5rem;
    color: #ecf1ee;
    margin: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

:root {
    --primary-color: #6ea76e;
    --secondary-color: #265e26ce;
    --text-color: #a3a3a3;
    --text-secondary-color: #001100;
    --background-color: #013612;
    --card-bg: #D3E6D3;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F8FBF8;
    transition: all 0.5s ease;
}


body.ativo {
    margin-left: 300px;
    background-color: transparent;
}


.menu-lateral {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-lateral.ativo {
    left: 0;
}


.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}


.menu-lateral ul li {
    padding: 15px 30px;
}


.menu-lateral ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}


.menu-lateral ul li:hover {
    background-color: var(--secondary-color);
}


.toggle {
    background-color: var(--primary-color);
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 6;
    border-radius: 50%;
    font-size: 24px;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #ecf1ee;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.toggle:hover {
    background-color: var(--secondary-color);
}


.toggle.ativo {
    left: 320px;
}

section.meio h2 {
    color: #013612;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin: 3rem 0 2rem 0;
}


section.meio>p {
    text-align: center;
    margin: 2vw 30vw 5vw 30vw;
    font-size: 1.2rem;
}


section.meio div ul h2 {
    text-align: center;
    color: #02210C;
    font-size: 1.5rem;
    font-weight: bold;
}


.meio div ul li p {
    color: #494949;
    font-size: 1.2rem;
    padding: 10px 10px;
}


section.meio div {
    background-color: #D3E6D3;
    border-radius: 50px;
    margin: 0vw 15vw 5vw 15vw;
}


section.meio div ul li.img {
    text-align: center;
    margin: 2rem;
    padding: 3rem;
}


section.meio div ul li.img h2 {
    margin: 20px 0 20px 0;
    padding: 0;
}


section.meio div ul li.img img {
    width: 130px;
    margin: 0;
    padding: 1vw;
    background-color: #ABD0B5;
    border-radius: 50%;
}


section.meio div ul li.img p {
    margin: 0 0 10px 0;
}

.meio ul {
    width: 100%;
}


.nado,
.borboleta,
.peito,
.costas {
    background-color: #D3E6D3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7vh 15vw;
    padding: 5vw;
    border-radius: 50px;
}


.nado .lista li,
.borboleta .lista li,
.peito .lista li,
.costas .lista>li {
    margin: 0 0 2vh 0;
    font-weight: 400;
}


.nado .img,
.borboleta .img,
.peito .img,
.costas .img {
    margin: 0 5vw;
}


.nado,
.borboleta,
.peito,
.costas,
.img>li h3 {
    color: #02210C;
    font-size: 1.6rem;
    font-weight: bold;
}

.nado .lista li h3,
.borboleta .lista li h3,
.peito .lista li h3,
.costas .lista li h3 {
    color: #000;
    font-size: 1.5rem;
    margin: 2vw 0 1vw 0;
}


.nado,
.borboleta,
.peito,
.costas,
.lista li p {
    color: #494949;
    font-size: 1.1rem;
}


.nado .img,
.borboleta .img,
.peito .img,
.costas .img {
    width: 60%;
}

.nado .img li img,
.borboleta .img li img,
.peito .img li img,
.costas .img li img {
    width: 200px;
    background-color: #ABD0B5;
    border-radius: 50%;
    padding: 2.4vw;
    margin: 1vw;
}


.peito .img h3 {
    margin-left: 1.8vw;
}


.costas .img h3 {
    margin-left: 1.6vw;
}


.nado .img h3 {
    margin-left: 1.5vw;
}

.nado .lista li ul li:before,
.borboleta .lista li ul li:before,
.costas .lista li ul li:before,
.peito .lista li ul li:before {
    content: "•";
    color: #000;
    display: inline;
}


.treinamento>h3,
.fortalecimento>h3 {
    text-align: center;
    color: #02210C;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 8vw 0 6vw 0;
}

.treinamento div ul li h3,
.fortalecimento div ul li h3 {
    font-size: 1.3rem;
    text-align: left;
    font-weight: bold;
    margin: 2vw 0 3vw;


}

.treinamento ul li h4,
.fortalecimento ul li h4 {
    font-size: 1.3rem;
    margin-left: 1.576vw;
}

.fortalecimento div ul,
.treinamento div ul {
    margin-top: 2vh;
}

.treinamento div ul p,
.fortalecimento div ul p {
    text-align: left;
    color: #494949;
    margin: 20px;
    font-size: 1.1rem;
    margin-right: 9vw;
}

.treinamento div,
.fortalecimento div {
    display: flex;
    background: #D3E6D3;
    margin: 5vw 13.5vw 5vw 13.5vw;
    border-radius: 15px;
}

.treinamento div img,
.fortalecimento div img {
    padding: 20px;
    width: 500px;
    border-radius: 30px;
}


.sobre {
    margin: 4vw 8vw;
}


.sobre h2 {
    font-size: 2rem;
    color: #02210C;
    text-align: center;
    margin: 50px 20px;
}


.sobre ul.fundo {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;
}


.sobre ul.fundo li {
    background-color: #C1D9C3;
    border-radius: 12px;
    padding: 2vw;
    max-width: 350px;
    box-shadow: 1.5vw 1.5vw 0 #8EAB8E;
}


.sobre ul.fundo li video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: block;
}


footer {
    background-color: #D3E6D3;
    padding: 50px 20px;
}


footer div.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}


footer div.conteiner div.redes h4 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 15px;
}


footer div.conteiner div.redes p {
    color: #4e4e4e;
    font-size: 1rem;
}


footer div.conteiner div.redes nav p {
    color: #000;
    font-size: 1.8rem;
    padding: 20px 10px;
}


footer div.conteiner div.redes nav p a {
    padding-right: 15px;
}


footer div.conteiner div.esporte nav ul li a {
    color: #4e4e4e;
}


footer div.contato {
    color: #6d6d6d;
    font-size: 0.8rem;
    line-height: 22px;
     text-align: center;
}


.adicionais h2 {
    text-align: center;
    font-size: 2rem;
    margin: 3vw 0 0vw;
}


.adicionais div ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    padding: 3vw 2vw;
}

.adicionais {
    margin: 3vw 14vw;
    text-align: center;
}


.adicionais div h3 {
    font-size: 1.5rem;
    color: #02210C;
    font-weight: 500;
    margin: 10px;
}


.adicionais div ul p {
    color: #5c5c5c;
    font-size: 1.3rem;
}


.adicionais div ul li {
    border: 10px solid #D3E6D3;
    border-radius: 8px;
    margin: 2vw 2vw;
    padding: 2vw 3vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.adicionais div ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}



.alimentacao {
    margin: 50px auto;
    max-width: 1000px;
    text-align: center;
}


.alimentacao div ul {
    background: #D3E6D3;
    padding: 1vh 0 1vh;

}


.alimentacao h2 {
    color: #02210C;
    font-size: 2rem;
    font-weight: bold;
    background-color: #C1D9C3;
    display: inline-block;
    padding: 0.5vw 3vw;
    margin: 2vw 0 3vw;
    border-radius: 10px;
}


.alimentacao div ul h3 {
    color: #02210C;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 2vw 3vw 0;
    margin: 1vw;
}


.alimentacao div ul li p {
    text-align: left;
    padding: 7px 2vw 7px;
    line-height: 20px;
    color: #5c5c5c;
    font-size: 1.2rem;
    font-weight: 500;
}

.alimentacao div ul {
    margin: 3vw 5vw;
    border-radius: 20px;
}

.alimentacao div ul li ul li p:before {
    content: "•";
    color: #000;
    margin-right: 5px;
    display: inline;
}


.sobre {
    margin: 4vw 8vw;
}


.sobre h2 {
    font-size: 1.6rem;
    color: #02210C;
    text-align: center;
    margin: 6vw 10vw 4vw 10vw;
}


.sobre ul.fundo {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;
}


.sobre ul.fundo li {
    background-color: #C1D9C3;
    border-radius: 12px;
    padding: 2vw;
    max-width: 350px;
    box-shadow: 1.5vw 1.5vw 0 #8EAB8E;
}


.sobre ul.fundo li video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: block;
}

.img {
    max-width: 1000px;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 20px;
}

.img div {
    width: 100%;
}

.img div p img {
    width: 400px;
    display: inline-block;
    margin-right: -13vw;
    margin-bottom: -3.8vw;
}

footer {
    background-color: #D3E6D3;
    padding: 50px 20px;
}


footer div.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}


footer div.conteiner div.redes h4 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 15px;
}


footer div.conteiner div.redes p {
    color: #4e4e4e;
    font-size: 1rem;
}


footer div.conteiner div.redes nav p {
    color: #000;
    font-size: 1.8rem;
    padding: 20px 10px;
}


footer div.conteiner div.redes nav p a {
    padding-right: 15px;
}


.esporte ul {
    list-style: none;
    padding: 0;
}


.esporte li {
    margin-bottom: 8px;
}


footer div.conteiner div.esporte nav ul li a {
    color: #4e4e4e;
}


footer div.contato {
    text-align: center;
}


footer div.contato {
    color: #6d6d6d;
    font-size: 0.8rem;
    line-height: 22px;
}

@media (max-width: 768px) {

    .topo {
        background-size: cover;
    }

    .topo h1 {
        font-size: 2.5rem;
    }

    section.meio h2 {
        font-size: 1.5rem;
    }

    section.meio p {
        margin: 2vw 2vw;
        font-size: 1.2rem;
        text-align: justify;
    }


    .meio ul li.img p img {
        width: 100px;
    }

    .meio ul li.img h2 {
        font-size: 1rem;
        
    }

    .meio ul li.img p {
        font-size: 0.7rem;
        line-height: 15px;
        margin: 0;
        padding: 0;
    }

    .nado,
    .borboleta,
    .peito,
    .costas {
        background-color: #D3E6D3;
        display: block;
        justify-content: space-between;
        align-items: center;
        margin: 4vh 7vw;
        padding: 3vw;
        border-radius: 50px;
    }

    .treinamento h3 {
        font-size: 1.3rem;
    }

    .treinamento div img {
        height: 330px;
        width: 450px;
    }

    .fortalecimento div img {
        height: 330px;
        width: 450px;
    }

    .adicionais div ul{
        display: block;
    }
    
}
