:root {
    --primary-color: #6ea76e;
    --secondary-color: #265e26ce;
    --text-color: #a3a3a3;
    --text-secondary-color: #001100;
    --background-color: #013612;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F8FBF8;
    transition: background-color 0.5s ease;
    transition: all 0.5s ease;
}
body.ativo {
    margin-left: 300px;
    background-color: transparent;
    transition: all 0.5s ease;
}

.menu-lateral {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-lateral.ativo {
    left: 0;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}

.menu-lateral ul li {
    padding: 15px 30px;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li:hover {
    background-color: var(--secondary-color);
    font-style: italic;

}

.toggle {
    background-color: var(--primary-color);
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 6;
    border-radius: 50px;
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #ecf1ee;
    transition: all 0.5s ease-in-out;
}

.toggle:hover {
    background-color: var(--secondary-color);
}

.toggle.ativo {
    left: 320px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.background.ativo {
    opacity: 1;
    visibility: visible;
}

.topo {
    padding: 30vw 50vw 4vw 5vw;
    background-size: cover;
    background-position: top;
    width: auto;
    font-family: "Hammersmith One", sans-serif;
    text-align: center;
    opacity: 90%;
    background:
        linear-gradient(to bottom, rgba(252, 252, 252, 1), transparent 70%),
        url('../imagem/image\ 11.png') top;
}
.primeiro div img {
    height: 30%;
    width: 20%;
    align-items: center;
    justify-content: center;
    
}
.primeiro h1 {
    color: #8AA886;
    font-size: 3.3rem;
    font-weight: 500;
    margin: 0 0 0 3vw;
    
}
.meio {
      border: none;             
  height: 2px;               
  background: #ccc;           
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
  margin: 40px 0;
}

.parte {
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 20px rgba(85, 85, 85, 0.3);
    margin: 2vw 18vw 2vw 18vw;
    padding: 4vw;
    border-radius: 20px;
    
}
.parte h1{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 300;
   
}
.parte h1 span{
    font-weight: 300;
    
   
}
.parte p{
    line-height: 3.3rem;
    font-size: 1.3rem;
}